.hero{
    background-color: #1e0e0d;
    -webkit-box-shadow: inset 0px -7px 15px -8px #fffff0; 
    box-shadow: inset 0px -7px 15px -8px #fffff0;
}

.hero-img{
    width: 100%;
    height: 100%;
    background-image: url(../assets/main-cake.jpeg);
    background-position: center;
    background-size: cover;
    display: flex;
    opacity: 0.6;   
}

.catalogo-img-container ,.mais-vendido-img{
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.65);
    -webkit-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.65);
    -moz-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.65);
}

section{
    text-align: center;
}

h1, h2{
    font-family: 'Parisienne', cursive;
    margin: 0 auto;    
    font-weight: 300;
}

h1{
    font-size: 4rem;
}

hr{
    border: none;
    border-radius: 2px;
    height: 4px;
    margin: 0 auto;
}

.brown{background-color: #1e0e0d; color: white;}
.white{background-color: #fffff0; color: #1e0e0d;}

.titulo, .mais-vendidos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4.5rem 0px;
}

.titulo h1, .mais-vendidos h1{
    margin-bottom: 1.5rem ;
}

.titulo p{
    font-size: 1.5rem;
    margin-bottom:1.5rem;
}

.titulo hr, .mais-vendidos hr{
    width: 20%;
}


.logo-pan{
    height: 35vw;
    width:100%;
    background-image: url(../assets/vitrine3.jpeg);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}

.over-logo{
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.doce-pan{
    width:18%;
}

.icons{
    padding: 4rem 0;
}

.icons nav{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 2.5rem;
    max-width: 100%;
}

.icons nav li{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icons nav li i{
    margin-bottom: 1.5rem;
    font-size:5rem;
    color: #1e0e0d;
    
}

.icons hr{
    width: 20%;

}

.icons nav li span{
    font-weight: 700;
}

.catalogo-images{
    display: flex;
    justify-content: center;
    align-content: center;
}

.flex-img-block{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 800px;
    /* max device width:800px -> direction: column */
    max-width: 90%;
    margin: 0 auto;
}   

.catalogo-img-container{
    width: calc(50% - 0.5rem);
    margin-bottom: 0.5rem;
    height: 500px;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

.catalogo-img-container h2{
    font-size: 4rem;
    font-weight: 300;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
}


.catalogo-img{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    transition: 5s;
    cursor: pointer;
}

.catalogo-img:hover, .catalogo-img-container a:hover ~ .catalogo-img{
    transform: scale(1.2);
}

.catalogo-img-container a:hover ~ .catalogo-img{
    transform: scale(1.2);
}

.catalogo-over-img:hover{
    background-color: rgb(0, 0, 0, 0.6);
}

.catalogo-over-img{
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.3);
    transition: 1.5s;
}


.mais-vendidos nav{
    width: 95%;
    margin-bottom: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.mais-vendidos nav li{
    width: calc(25% - 1rem);
    min-width: 200px;
    margin-bottom: 1rem;
    height: 25vw;
    max-width: 300px;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.mais-vendido-img{
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    flex-grow: 1;
    width: 100%;
    overflow: hidden;
}

.mais-vendidos .mais-vendido-over-img{
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.3);
}

.mais-vendidos nav li h5{
    font-size: 1rem;
    margin-top: 0.5rem;
    font-weight: 700;
}

.mais-vendido-img nav li span{
    opacity: 0.8;
    font-size: 0.8rem;
    margin-top: ;
}

@media(max-width:1050px){
    .hero{
        height: 23vw;
    }
    .logo-pan{
        height: 60vw;
    }
    
    .doce-pan{
        width:30%;
    }
    
    .titulo, .mais-vendidos{
        padding:3.5rem 0px;
    }

    .titulo h1, .mais-vendidos h1{
        font-size: 3rem;
        margin-bottom: 2rem;
    }

    .titulo p{
        font-size: 1.3rem;
        margin-bottom: 2.5rem;
    }

    .mais-vendidos nav{
        margin-bottom: 2.5rem;
    }

    .titulo hr, .mais-vendidos hr{
        height: 4px;    
        border-radius: 2px;
        width: 30%;
    }

    /* .icons nav li i{
        font-size: 6rem;
    }

    .icons nav li span{
        font-size: 1.5rem;
    } */


}

@media(max-width:800px){
    .hero{
        height: 30vw;
    }

    .icons nav li i{
        font-size: 5rem;
    }

    .flex-img-block{
        flex-direction: column;
        align-items: center;
        max-width: 100vh;
    }

    .catalogo-images{
        width: 100%;
    }
    .catalogo-img-container{
        width:90%;
        height: 400px;
    }

    .catalogo-img-container:last-child{
        margin-bottom: 0;
    }

    .catalogo-img-container h2{
        font-size:5rem;
    } 
    
    .mais-vendidos nav{
        margin-bottom: 1.5rem;
    }
}


@media(max-width:600px){
    .logo-pan{
        height: 60vw;
    }
    .doce-pan{
        width: 40vw;
    }

    .titulo{
        padding:2.5rem 0px;
    }
    .titulo h1{
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }
    .titulo p{
        padding: 0 1rem;
        font-size: 0.9rem;
        margin-bottom: 1.5rem;
        max-width: 90%;
    }

    .mais-vendidos nav{
        margin-bottom: 1.5rem;
    }

    .titulo hr, .mais-vendidos hr{
        height: 2px;    
        border-radius: 2px;
        width: 30%;
    }

    .icons{
        padding: 2rem 0;
    }

    .icons nav{
        width: 90%;
        margin-bottom: 1.5rem;
    }

    .icons nav li i{
        font-size: 3rem;
        margin-bottom: 0.5rem;
    }

    .icons nav li span{
        font-size: 0.9rem;
    }

    .icons hr{
        width: 30%;
    }

    .catalogo-img-container{
        height: 500px;
    }
    .catalogo-img-container h2{
        font-size:4rem;
    }
}

@media(max-width:300px){
    .doce-pan{
        width:40%;
    }

    .titulo{
        padding:2rem 0px;
    }
    
    .titulo h1, .mais-vendidos h1{
        font-size: 3rem;
        margin-bottom: 0.5rem;
    }


    .titulo p{
        font-size: 0.9rem;
        margin-bottom: 1rem;
    }

    .mais-vendidos nav{
        margin-bottom: 1rem;
    }

    .icons nav li i {
        font-size: 2.5rem;
    }

    .icons nav li span{
        font-size: 0.8rem;
    }

    .icons hr{
        width: 40%;
    }

    .catalogo-img-container{
        height: 400px;
    }
    .catalogo-img-container h2{
        font-size:3rem;
    }
}