.hero{
    background-color: #1e0e0d;
    -webkit-box-shadow: inset 0px -7px 15px -8px #fffff0; 
    box-shadow: inset 0px -7px 15px -8px #fffff0;
}

.hero-img{
    width: 100%;
    height: 100%;
    background-image: url(../../assets/main-cake.jpeg);
    background-position: center;
    background-size: cover;
    display: flex;
    opacity: 0.6;   
}

section{
    text-align: center;
}

h1, h2{
    font-family: 'Parisienne', cursive;
    margin: 0 auto;    
    font-weight: 300;
}

h1{
    font-size: 4rem;
}

hr{
    border: none;
    border-radius: 2px;
    height: 4px;
    margin: 0 auto;
}

.brown{background-color: #1e0e0d; color: white;}
.white{background-color: #fffff0; color: #1e0e0d;}

.titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4.5rem 0px;
}

.titulo h1{
    margin-bottom: 1.5rem ;
}

.titulo p{
    font-size: 1.5rem;
    margin-bottom:1.5rem;
}

.titulo hr{
    width: 20%;
}

.logo-pan{
    height: 35vw;
    width:100%;
    background-image: url(../../assets/vitrine3.jpeg);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}

.over-logo{
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.doce-pan{
    width:18%;
}


.perso-info-main{
    width: 80%;
    /* Mudar width para mobile */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    /* background-color: aqua; */
    padding:35px 1vw
}

.perso-over-img{
    width: 100%;
    background-color: rgb(0, 0, 0, 0.2);
}


.perso-info-main .perso-img{
    z-index: 5;
    height:600px;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    flex-basis: 500px;
    -webkit-box-shadow: 0px 0px 13px -1px #000000; 
    box-shadow: 0px 0px 10px -1px #000000;
    overflow: hidden;
    display: flex;
}

.perso-info-main .perso-info{
    flex-basis: 50%;
    background-color: #1e0e0d;
    color: white;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-box-shadow: 0px 0px 13px -1px #000000; 
    box-shadow: 0px 0px 10px -1px #000000;
}

.perso-info h2{
    font-size: 2.5rem;
    margin: 2rem;
}

.info-box{
    text-align: left;
    margin-left: 3rem;
    font-size: 1.2rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
}

.info-box li{
    margin-bottom: 0.5rem;
}


.info-box li:last-child{
    margin-bottom: 0;
}

#whats{
    margin-left: 3rem;
    margin-right: 0.5rem;
}

.info-box li span{
    font-size: 1rem;
}

.flex-menu-block{
    text-align: left;
    display: flex;
    align-items: center;
    justify-content:space-around;
    font-size: 1.5rem;
    width:800px;
    max-width: 90%;
    margin: 0 auto;
    margin-bottom: 3rem;
}

.flex-menu-block .col li{
    margin-bottom: 1rem;
    list-style: circle;
}

.flex-menu-block .col li:last-child{
    margin-bottom: 0;
}


@media(max-width:1050px){
    .hero{
        height: 23vw;
    }
    .titulo{
        padding:3.5rem 0px;
    }

    .titulo h1{
        font-size: 3.5rem;
        margin-bottom: 2rem;
    }

    .titulo p{
        font-size: 1.5rem;
        margin-bottom: 2.5rem;
    }

    .titulo hr{
        height: 4px;    
        border-radius: 2px;
        width: 30%;
    }

    .logo-pan{
        height: 60vw;
    }
    
    .doce-pan{
        width:30%;
    }

    .perso-info-main .perso-img{
        height: 20vw;
        min-height: 400px;
        flex-basis: 300px;
    }

    .perso-info-main .perso-info{
        flex-basis: 60%;
    }

    .perso-info h2{
        font-size: 2.5rem;
        margin: 1.5rem;
    }

    .info-box{
        margin-left: 2.5rem;
        font-size: 1.2rem;
        margin-left: 2rem;
        margin-bottom: 1.5rem;
        margin-right: 1.5rem;
    }
}


@media(max-width:800px){
    .hero{
        height: 30vw;
    }

    .titulo{
        padding:2.5rem 0px;
    }
    .titulo h1{
        font-size: 4rem;
        margin-bottom: 1rem;
    }
    .titulo p{
        padding: 0 1rem;
        font-size: 1rem;
        margin-bottom: 1.5rem;
        max-width: 90%;
    }

    .titulo hr{
        height: 2px;    
        border-radius: 2px;
        width: 30%;
    }
    .perso-info-main{
        flex-direction: column-reverse;
        width: 100%;
        padding: 0;
    }

    .perso-info-main .perso-info{
        flex-basis: 0;
        width: 100%;
        border-radius: 0;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .perso-info h2{
        font-size: 2.5rem;
        margin-bottom: 2rem;
        max-width: 100%;
    }

    .info-box{
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }

    #whats, .info-box li span{
        margin-top: 0.5rem;
    }

    .perso-info-main .perso-img{
        max-width: 90%;
        width: 400px;
        transform:translateY(-1.5rem);
        flex-basis: 500px;
    }

    .flex-menu-block{
        font-size: 1rem;
    }
}
@media(max-width:600px){
    .titulo{
        padding:2.5rem 0px;
    }
    .titulo h1{
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }
    .titulo p{
        padding: 0 1rem;
        font-size: 0.9rem;
        margin-bottom: 1.5rem;
        max-width: 90%;
    }

    .titulo hr{
        height: 2px;    
        border-radius: 2px;
        width: 30%;
    }

    .logo-pan{
        height: 60vw;
    }
    .doce-pan{
        width: 40vw;
    }

    .flex-menu-block{
        font-size: 0.9rem;
    }
}


@media(max-width:400px){
    .flex-menu-block{
        margin: 0 auto;
        width: 200px;
        max-width: 90%;
        flex-direction:column;
        align-items: flex-start;
        margin-bottom: 2rem;
    }
    .col1{
        margin-bottom: 1rem;
    }
}

@media(max-width:300px){
    .titulo{
        padding:2rem 0px;
    }
    
    .titulo h1{
        font-size: 2rem;
        margin-bottom: 0.5rem;
    }

    .titulo p{
        font-size: 0.9rem;
        margin-bottom: 1rem;
    }

    .doce-pan{
        width:40%;
    }

    .perso-info-main .perso-info{
        padding: 1rem 0.5rem;
    }

    .perso-info h2{
        font-size: 2rem;
    }

    .info-box{
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }

    #whats{
        margin-left: 1rem;
    }

    .perso-info-main .perso-img{
        flex-basis:400px;
    }
}