.hero{
    background-color: #1e0e0d;
    -webkit-box-shadow: inset 0px -7px 15px -8px #fffff0; 
    box-shadow: inset 0px -7px 15px -8px #fffff0;
}

.hero-img{
    width: 100%;
    height: 100%;
    background-image: url(../../assets/main-cake.jpeg);
    background-position: center;
    background-size: cover;
    display: flex;
    opacity: 0.6;   
}

section{
    text-align: center;
}

h1, h2{
    font-family: 'Parisienne', cursive;
    margin: 0 auto;    
    font-weight: 300;
}

h1{
    font-size: 4rem;
}

hr{
    border: none;
    border-radius: 2px;
    height: 4px;
    margin: 0 auto;
}

.brown{background-color: #1e0e0d; color: white;}
.white{background-color: #fffff0; color: #1e0e0d;}

.titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4.5rem 0px;
}

.titulo h1{
    margin-bottom: 1.5rem ;
}

.titulo p{
    font-size: 1.5rem;
    margin-bottom:1.5rem;
}

.titulo hr{
    width: 20%;
}

.logo-pan{
    height: 35vw;
    width:100%;
    background-image: url(../../assets/vitrine3.jpeg);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}

.over-logo{
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.doce-pan{
    width:18%;
}

.flex-produtos-container{
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 950px;
    max-width: 90%;
}

.produto-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(33% - 1rem);
    margin-bottom: 1rem;
}

.produto-img-container{
    width: 100%;
    height: 280px;
    overflow: hidden;
    border-radius: 5px;
    background-size:cover;
    background-position: center;
    margin-bottom: 0.5rem;
    -webkit-box-shadow: 0px 0px 5px -1px #000000; 
    box-shadow: 0px 0px 5px -1px #000000;
}

.produto-over-img{
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.1);
    display: flex;
    align-items: flex-end;
}

.saiba-mais{
    width: 100%;
    margin-bottom: 1.5rem;
    padding: 0.5rem;
    font-size: 1rem;
}


.produto-container nav h5{
    font-size: 1.2rem;
}

.produto-container nav span{
    font-size: 1rem;
    opacity: 0.9;
}

.saiba-mais-mobile{
    display: none;
}


@media(max-width:1050px){
    .hero{
        height: 23vw;
    }
    .titulo{
        padding:3.5rem 0px;
    }

    .titulo h1{
        font-size: 3rem;
        margin-bottom: 2rem;
    }

    .titulo p{
        font-size: 1.3rem;
        margin-bottom: 2.5rem;
    }

    .titulo hr{
        height: 4px;    
        border-radius: 2px;
        width: 30%;
    }

    .logo-pan{
        height: 60vw;
    }
    
    .doce-pan{
        width:30%;
    }

    .produto-img-container{
        height: 25vw;
        min-height: 150px;
    }
}


@media(max-width:800px){
    .hero{
        height: 30vw;
    }

    .titulo{
        padding:2.5rem 0px;
    }
    .titulo h1{
        font-size: 4rem;
        margin-bottom: 1rem;
    }
    .titulo p{
        padding: 0 1rem;
        font-size: 1rem;
        margin-bottom: 1.5rem;
        max-width: 90%;
    }

    .titulo hr{
        height: 2px;    
        border-radius: 2px;
        width: 30%;
    }

    .produto-container nav h5{
        font-size: 1rem;
    }

    .produto-container nav span{
        font-size: 0.9rem;    
    }

    .saiba-mais{
        margin-bottom: 1rem;
        font-size: 0.9rem;
        padding: 0.3rem;
    }
}
@media(max-width:600px){
    .titulo{
        padding:2.5rem 0px;
    }
    .titulo h1{
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }
    .titulo p{
        padding: 0 1rem;
        font-size: 0.9rem;
        margin-bottom: 1.5rem;
        max-width: 90%;
    }

    .titulo hr{
        height: 2px;    
        border-radius: 2px;
        width: 30%;
    }

    .logo-pan{
        height: 60vw;
    }
    .doce-pan{
        width: 40vw;
    }

    .produto-container{
        width: 100%;
        flex-direction: row;
        text-align: left;
        border-bottom: 1px solid rgb(0, 0, 0, 0.3);
        padding-bottom: 0.5rem;
        padding-left: 1rem;
    }

    .produto-container:last-child{
        border: none;
    }

    .produto-img-container{
        width: 33vw;
        margin-right: 1rem;
    }

    .produto-container nav{
        max-width: 50%;
        display: flex;
        flex-direction: column;
    }

    .produto-container nav h5{
        font-size: 1rem;
    }

    .produto-container nav span{
        font-size: 0.9rem;
    }

    .saiba-mais{
        display: none;
    }

    
    .saiba-mais-mobile{
        display: initial;
        margin-top: 1rem;
        width: fit-content;
        padding: 0.2rem 0.5rem;
        border-radius: 3px;
        font-size: 1rem;
    }

}


@media(max-width:300px){
    .titulo{
        padding:2rem 0px;
    }
    
    .titulo h1{
        font-size: 3rem;
        margin-bottom: 0.5rem;
    }

    .titulo p{
        font-size: 0.9rem;
        margin-bottom: 1rem;
    }

    .doce-pan{
        width:40%;
    }

    .produto-img-container{
        width: 35vw;
        margin-right: 1rem;
    }

    .produto-container nav h5{
        font-size: 0.9rem;
    }

    .produto-container nav span{
        font-size: 0.7rem;
    }
}